<div *ngIf="temp" class="row wth--weather--main">
  <div
    [ngStyle]="{ opacity: temp !== undefined ? '1' : '0' }"
    class="container"
  >
    <div class="row flex-column flex-md-row">
      <div class="col-12 col-md-5 wth--weather--block align-items-center">
        <div
          class="row justify-content-center align-items-center wth--weather--item"
        >
          <div class="col wth--weather--title text-center">
            {{ location }}
          </div>
        </div>
        <div
          class="row justify-content-center align-items-center wth--weather--item"
        >
          <div class="col-4 wth--weather--icon">
            <img src="../../assets/temperature.png" alt="Temperature icon" />
          </div>
          <div class="col-4"><span>Temp</span></div>
          <div class="col-4">
            <span>{{ temp + "°C" }}</span>
          </div>
        </div>
        <div
          class="row justify-content-center align-items-center wth--weather--item"
        >
          <div class="col-4 wth--weather--icon">
            <img src="../../assets/pressure.png" alt="Pressure icon" />
          </div>
          <div class="col-4"><span>Pressure</span></div>
          <div class="col-4">
            <span>{{ pressure + "hPa" }}</span>
          </div>
        </div>
        <div
          class="row justify-content-center align-items-center wth--weather--item"
        >
          <div class="col-4 wth--weather--icon">
            <img src="../../assets/wind.png" alt="Wind icon" />
          </div>
          <div class="col-4"><span>Wind</span></div>
          <div class="col-4">
            <span>{{ wind + "km/h" }}</span>
          </div>
        </div>
      </div>
      <div id="map" class="col-12 col-md-7 wth--weather--location">
        <google-map
          height="300px"
          width="100%"
          [center]="center"
          [zoom]="zoom"
          [options]="mapOptions"
          ><map-marker [position]="center"></map-marker>
        </google-map>
      </div>
    </div>
  </div>
</div>
