.wth--weather--main {
  transition: opacity 0.8s ease-in-out;
  .wth--weather--block {
    // margin: 20px 0;
    border-right: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;

    .wth--weather--item {
      padding: 15px;
      font-size: 18px;
      .wth--weather--title {
        font-size: 1.2em;
      }
      .wth--weather--icon {
        height: 40px;
        width: 40px;
        img {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
  .wth--weather--location {
    border-right: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    height: 300px;
  }
}
