<section class="container-fluid">
  <div class="wth--main row align-items-center">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div
          [ngStyle]="{ 'margin-bottom': quote !== undefined ? '10%' : '0' }"
          class="col-12 col-sm-10 col-md-5 col-lg-3 text-center wth--main--logo"
        >
          <span>WEATHER APP</span>
        </div>
      </div>
      <div
        *ngIf="quote !== undefined"
        [ngStyle]="{ opacity: quote !== undefined ? '1' : '0' }"
        class="wth--main--title row justify-content-center align-items-center"
      >
        <div class="col">
          <span class="row justify-content-center align-items-center">
            <div class="col wth--main--title--text text-center">
              <span
                *ngFor="let word of quote; let i = index"
                class="wth--main--title--word"
                ><span
                  *ngFor="let character of quote[i]; let j = index"
                  [ngStyle]="{ 'animation-delay': j * i * 20 + 'ms' }"
                  >{{ character }}</span
                >
              </span>
            </div>
          </span>
          <!-- <span class="row justify-content-center align-items-center">
            <span class="col-10 wth--main--title--text text-center"></span>
          </span> -->
        </div>
      </div>
      <div
        *ngIf="quote !== undefined"
        class="row justify-content-center align-items-center mx-auto"
      >
        <span
          [ngStyle]="{ opacity: quote !== undefined ? '1' : '0' }"
          class="col-12 col-md-8 col-lg-4 wth--main--search-bar"
        >
          <div class="row justify-content-between">
            <div class="col-7">
              <input
                [formControl]="searchInput"
                class="form-control wth--main--search-bar__input"
                placeholder="Enter a place..."
                type="text"
              />
            </div>

            <div class="col-5">
              <button
                (click)="fetchWeather(searchInput.value)"
                class="btn btn-outline-light wth--main--button"
              >
                Search
              </button>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
  <wth-weather
    *ngIf="weatherData"
    id="weather"
    [weatherData]="weatherData"
  ></wth-weather>
</section>
