.wth--main {
  font-size: 40px;
  background: url("../assets/background.jpg");
  z-index: -100;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  .wth--main--logo {
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10%;
    backdrop-filter: blur(3px);
    padding: 10px;
    transition: margin-bottom 0.5s ease-in-out;
  }
  .wth--main--title {
    backdrop-filter: blur(3px);
    border-radius: 5px;
    padding-bottom: 10px;
    .wth--main--title--text {
      .wth--main--title--word {
        margin: 0 5px;
        white-space: nowrap;
        span {
          opacity: 0;
          color: #ffffff;
          display: inline-block;
          animation: character-reveal 0.5s ease-in-out forwards;
        }
      }
    }
  }
  .wth--main--search-bar {
    margin-top: 10%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 0;
    .wth--main--button {
      backdrop-filter: blur(3px);
      height: 100%;
      width: 100%;
    }
    .wth--main--search-bar__input {
      font-size: 16px;
      height: 60px;
      background: rgba($color: #000000, $alpha: 0.2);
      backdrop-filter: blur(3px);
      color: #ffffff;
    }
    .wth--main--search-bar__input:focus {
      border-color: #ffffff;
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
    }
    .wth--main--search-bar__input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ffffff;
      opacity: 1; /* Firefox */
    }

    .wth--main--search-bar__input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #ffffff;
    }

    .wth--main--search-bar__input::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #ffffff;
    }
  }
}

@keyframes character-reveal {
  from {
    opacity: 0;
    transform: translateY(-20px) rotateZ(-100deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateZ(0);
  }
}

@media (max-width: 920px) {
  .wth--main {
    .wth--main--title {
      .wth--main--title--text {
        line-height: 1;
        .wth--main--title--word {
          span {
            font-size: 30px;
          }
        }
      }
    }
  }
}
@media (max-width: 560px) {
  .wth--main {
    .wth--main--title {
      .wth--main--title--text {
        .wth--main--title--word {
          span {
            font-size: 22px;
          }
        }
      }
    }
  }
}
